.task-list-area {
  position: relative;
}

.non-tasks {
  width: 65vw;
  font-size: 5vh;
  color: #cccfd0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh 0;
}

.task-list-content-area {
  background-color: #ffffff;
  height: 80vh !important;
  width: 70vw;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 0 0 1vh 1vh;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
  max-height: 80vh;
  overflow-y: auto;
}

.task-list-content-area::-webkit-scrollbar {
  width: 2vh;
  background-color: white;
}

.task-list-content-area::-webkit-scrollbar-thumb {
  background-color: #b4b4b4;
  border-radius: 1vh;
  transition: all 0.3s ease-in-out;
}

.task-list-content-area::-webkit-scrollbar-thumb:hover {
  background-color: #8d8d8d;
}

.table-area {
  padding: 3vh;
}

.task-genre-table-name {
  font-weight: 600;
  font-size: 2vh;
}

.table-container {
  padding: 3vh;
}

.task-list-area table {
  border-collapse: collapse;
  background-color: #ffffff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
  margin: 0 auto;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  width: 65vw;
  z-index: 0;
}

.task-list-area thead,
.task-list-area tbody {
  display: block;
  width: 65vw;
}

.task-list-area th {
  background-color: #0aa9ec;
  color: white;
  font-weight: normal;
  position: relative;
}

.task-list-area tr {
  border: 1px solid #878788;
}

.task-list-area th.col-task-name {
  width: 19vw;
  padding: 0;
  box-sizing: border-box;
}

.task-list-area td.col-task-name {
  width: 20vw;
  padding: 0.2vw 0.5vw 0.2vw 0;
  box-sizing: border-box;
  word-wrap: break-word;
  font-weight: 600;
}

.task-list-area th.col-status {
  width: 9.5vw;
  padding: 0;
}

.task-list-area td.col-status {
  width: 9vw;
  padding: 0.2vw 0;
  box-sizing: border-box;
}

.task-list-area th.col-start-date,
.task-list-area td.col-start-date,
.task-list-area th.col-deadline-date,
.task-list-area td.col-deadline-date {
  padding: 0.2vw 0.5vw;
  box-sizing: border-box;
}

.task-list-area th.col-start-date {
  width: 10vw;
  padding: 0;
}

.task-list-area td.col-start-date {
  width: 10vw;
  padding: 0.2vw 0.5vw;
  box-sizing: border-box;
}

.task-list-area th.col-deadline-date {
  font-size: 1.7vh;
  width: 10vw;
  padding: 0;
}

.task-list-area td.col-deadline-date {
  width: 9vw;
  padding: 0.2vw 0.5vw;
  box-sizing: border-box;
}

.start-date-container,
.deadline-date-container,
.assigned-person-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar-icon,
.alarm-icon,
.alarm-yellow-icon {
  width: 2.5vh;
  height: 2.5vh;
  background-size: cover;
}

.calendar-icon {
  background-image: url("/img/calendar.png");
}

.alarm-icon {
  background-image: url("/img/alarm.png");
}

.alarm-yellow-icon {
  background-image: url("/img/alarm-yellow.png");
}

.near-deadline {
  background-color: #ffffac;
  color: #fc7e10;
}

.pass-deadline {
  background-color: #ffe5e5;
  color: #d32f2f;
}

.task-list-area th.col-days {
  width: 5vw;
  padding: 0;
}

.task-list-area td.col-days {
  width: 5vw;
  padding: 0.2vw 0.5vw;
  box-sizing: border-box;
}

.task-list-area th.col-assigned-person {
  width: 9.5vw;
  padding: 0;
}

.task-list-area td.col-assigned-person {
  width: 10vw;
  padding: 0.2vw 0.5vw;
  box-sizing: border-box;
}

.person-icon {
  width: 2.5vh;
  height: 2.5vh;
  background-image: url("/img/person.png");
  background-size: cover;
}

.task-list-area th.col-actions {
  width: 2vw;
  padding: 0;
}

.task-list-area td.col-actions {
  padding: 0;
  width: 2.5vw;
}

.actions-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

th.col-task-name,
th.col-status,
th.col-start-date,
th.col-deadline-date,
th.col-days,
th.col-assigned-person {
  cursor: pointer;
}

.date-col-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sort {
  font-size: 2vh !important;
}

.separator {
  position: absolute;
  top: 20%;
  bottom: 20%;
  right: 0;
  width: 1px;
  background-color: #878788;
}

.add-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.blink {
  animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.details-hidden {
  display: none;
}

.details-open {
  display: table-row;
  animation: open 0.3s ease-in-out forwards;
  transform-origin: top;
}

@keyframes open {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.task-name-container {
  display: flex;
  justify-content: flex-start;
  text-align: start;
}

.arrow-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 4vh;
}

.arrow {
  float: left;
  font-size: 5vh !important;
  cursor: pointer;
  margin: 0;
  transition: all 0.3s ease-in-out;
}

.arrow:hover {
  color: #357ae8;
  transform: scale(1.4);
}

.task-name {
  max-width: 18vw;
  box-sizing: border-box;
  word-wrap: break-word;
  margin: auto auto auto 0;
}

.img-container {
  position: relative;
}

.background-image2 {
  max-height: 60vh;
  opacity: 0.3;
  filter: blur(3px);
  z-index: -1;
}

.task-list-area dl {
  margin: 0;
}

.task-list-area dt {
  text-align: left;
  margin: 3vh auto 0 10vh;
  font-weight: 600;
}

.task-list-area dd {
  margin: 0 auto;
  padding: 1.5vh 0;
  border-bottom: 1.5px dotted black;
  width: 80%;
}

.flex-content {
  display: flex;
}

.flex-content dt {
  margin: 3vh auto 0 5vh;
}

.flex {
  flex: 1;
}

.task-genre-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-genre-block {
  background-color: #ffffff;
  border-radius: 1vh;
  width: 30vh;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin: 1vh;
  padding: 0.5vh 1vh 1vh 1vh;
}

.task-genre-name {
  font-size: 2vh;
  font-weight: bold;
  color: #000000;
  word-break: break-word;
  white-space: pre-wrap;
  padding: 0.5vh;
}

.task-genre-table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-genre-area table {
  border-collapse: collapse;
  margin: 0;
  box-shadow: none;
  width: 100% !important;
}

.task-genre-area tbody {
  width: 100% !important;
}

.task-genre-area td {
  padding: 0.5vh;
  font-size: 2vh;
  color: #555;
  border-bottom: 1px solid #eee;
}

.task-genre-area td:first-child {
  text-align: left !important;
  font-weight: bold;
  color: #333;
}

.task-genre-area tr:last-child td {
  border-bottom: none;
}

.task-genre-area table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.task-genre-area table tr:nth-child(odd) {
  background-color: #fff;
}

.task-genre-area table tbody tr {
  transition: all 0.3s ease-in-out;
}

.task-genre-area table tbody tr:hover {
  background-color: #e3f2fd;
}

.task-genre-area td:last-child {
  text-align: right;
}

.scrollable-content dd.dd-last {
  border-bottom: none;
}

.result-area {
  margin: 2vh 0 3vh 0;
}

.user-result-area {
  overflow-y: auto;
  max-height: 15vh;
}

.user-result-area::-webkit-scrollbar {
  width: 1vh;
  background-color: white;
}

.user-result-area::-webkit-scrollbar-thumb {
  background-color: #a0a0a0;
  border-radius: 1vh;
  transition: all 0.3s ease-in-out !important;
}

.user-result-area::-webkit-scrollbar-thumb:hover {
  background-color: #6b6b6b;
}

.user-result-area::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

.result-area-task-name {
  max-width: 9vw;
  margin: 0 auto;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.assigned-user-list-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.assigned-user-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2vh;
  background-color: #ffffff;
  box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.5);
  border-radius: 0.5vh;
  padding: 0.5vh;
  margin: 0.5vh;
  width: 85%;
}

.cancel-icon-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cancel-icon {
  color: rgb(255, 53, 53);
  font-size: 3vh !important;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.cancel-icon:hover {
  color: #f1746b;
}

.sum-result-area-container {
  width: 20vh;
  border-bottom: 0.1vh solid black;
  margin: 1vh auto;
}

.sum-result-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vh;
  background-color: #ffffff;
}

.sum-value {
  display: flex;
  justify-content: center;
  align-items: center;
}

.value-green {
  color: #5ade32;
}

.value-red {
  color: #ff0000;
}

.task-result-form {
  margin-top: 2vh;
}

.top-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5vh;
}

.instruction {
  margin: 0;
  font-size: 1.5vh;
  text-align: left;
}

.date-picker {
  border: none;
  border-bottom: 1px solid #000000;
  transition: border-color 0.3s;
  padding: 1vh !important;
  background-color: #d9d9d9;
  font-size: 2vh;
  font-family: "Roboto", sans-serif;
  text-align: center;
  width: 18.5vw;
  top: 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.custom-calendar {
  transform: scale(0.7);
  transform-origin: top;
  margin: 0;
  padding: 0;
}

.date-picker:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #d9d9d9 inset;
}

.under-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.number-of-result-days-form {
  border: none;
  border-bottom: 1px solid #000000;
  transition: border-color 0.3s;
  padding-left: 1vh;
  height: 4.8vh;
  width: 5.5vw;
  background-color: #d9d9d9;
  font-size: 2vh;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container button {
  border: none;
  border-radius: 0.8vh;
  cursor: pointer;
  width: 4.5vw;
  height: 4vh;
  font-size: 2vh;
  transition: all 0.3s ease;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  background-color: #007bff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
}

.button-container button:hover {
  background-color: #4593e6;
}

.button-spinner {
  border: 0.5vh solid #f3f3f3;
  border-top: 0.5vh solid #94bfce;
  border-radius: 50%;
  width: 1.5vh;
  height: 1.5vh;
  animation: buttonSpin 1s linear infinite;
  margin: auto;
}

@keyframes buttonSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.details-text {
  background-color: #ffffff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  display: inline-block;
  border-radius: 1vh;
  padding: 0.5vh;
  word-break: break-word;
  white-space: pre-wrap;
  text-align: left;
}

dd.dd-last {
  border-bottom: none;
}

.attachedFile-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-info {
  display: flex;
  justify-content: center;
}

.display-attachedFile-container {
  margin: 0 1vh;
  width: 9vh;
  height: 9vh;
}

.downloadIcon {
  font-size: 5vh !important;
  margin: 0 auto;
  cursor: pointer;
  color: black;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease-in-out;
}

.downloadIcon:hover {
  color: #969696;
}

.display-attachedFile-container p {
  margin: 0 auto;
  word-break: break-all;
  font-size: 1.5vh;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.button-container {
  text-align: center;
}

dd.dd-comment {
  width: 100%;
  padding: 0;
}
