.task-list {
  position: relative;
}

.non-tasks {
  width: 130vh;
  height: 65.5vh;
  font-size: 5vh;
  color: #cccfd0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-list table {
  border-collapse: collapse;
  background-color: #ffffff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
  margin: 0 auto;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  width: 130vh;
  z-index: 0;
}

.task-list thead,
.task-list tbody {
  display: block;
}

.task-list-tbody {
  max-height: 65.5vh;
  overflow-y: auto;
}

.task-list-tbody::-webkit-scrollbar {
  display: none;
}

.task-list th {
  background-color: #0aa9ec;
  color: white;
  font-weight: normal;
  position: relative;
}

.task-list tr {
  border: 1px solid #878788;
}

.task-list th.col-task-name {
  width: 43vh;
  padding: 1vh;
  box-sizing: border-box;
}

.task-list td.col-task-name {
  width: 42vh;
  display: flex;
  justify-content: flex-start;
  text-align: start;
  padding: 1vh 1vh 1vh 0;
  box-sizing: border-box;
  word-wrap: break-word;
}

.task-list th.col-status,
.task-list td.col-status {
  width: 14vh;
  padding: 0.5vh;
  box-sizing: border-box;
}

.task-list th.col-start-date,
.task-list td.col-start-date,
.task-list th.col-deadline-date,
.task-list td.col-deadline-date {
  width: 18vh;
  padding: 1vh;
  box-sizing: border-box;
}

.task-list th.col-days,
.task-list td.col-days {
  width: 6.5vh;
  padding: 1vh;
  box-sizing: border-box;
}

.task-list th.col-assigned-person,
.task-list td.col-assigned-person {
  width: 25vh;
  padding: 1vh;
  box-sizing: border-box;
}

.task-list th.col-actions,
.task-list td.col-actions {
  width: 5vh;
  padding: 1vh;
  box-sizing: border-box;
}

.task-list th.col-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-start-date,
.col-deadline-date {
  cursor: pointer;
}
.date-col-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sort {
  font-size: 2vh !important;
}

.separator {
  position: absolute;
  top: 20%;
  bottom: 20%;
  right: 0;
  width: 0.5px;
  background-color: #878788;
}

.blink {
  animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.details-hidden {
  display: none;
}

.details-open {
  display: table-row;
  background-color: #efefef;
  animation: open 0.3s ease-in-out forwards;
  transform-origin: top;
}

@keyframes open {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.arrow-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 4vh;
}

.task-name {
  max-width: 37vh;
  box-sizing: border-box;
  word-wrap: break-word;
}

.task-list dl {
  margin: 0;
}

.task-list dt {
  text-align: left;
  margin: 3vh auto 0 10vh;
  font-weight: 600;
}

.task-list dd {
  margin: 0 auto;
  padding: 1.5vh 0;
  border-bottom: 1.5px dotted black;
  width: 80%;
}

.flex-content {
  display: flex;
}

.flex-content dt {
  margin: 3vh auto 0 5vh;
}

.flex {
  flex: 1;
}

.task-genre-block {
  background-color: #ffffff;
  border-radius: 1vh;
  width: 32vh;
  height: 25vh;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin: 1vh;
}

.task-genre-name {
  font-size: 2vh;
  font-weight: bold;
  color: #000000;
  word-break: break-word;
  white-space: pre-wrap;
}

.task-genre-table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-genre-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-genre-area table {
  border-collapse: collapse;
  margin: 1vh;
  box-shadow: none;
}

.task-genre-area td {
  padding: 0.5vh;
  font-size: 2vh;
  color: #555;
  border-bottom: 1px solid #eee;
}

.task-genre-area td:first-child {
  text-align: left !important;
  font-weight: bold;
  color: #333;
}

.task-genre-area tr:last-child td {
  border-bottom: none;
}

.task-genre-area table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.task-genre-area table tr:nth-child(odd) {
  background-color: #fff;
}

.task-genre-area table tbody tr:hover {
  background-color: #e3f2fd;
}

.task-genre-area td:last-child {
  text-align: right;
}

.scrollable-content dd.dd-last {
  border-bottom: none;
}

.user-result-value-area {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 2vh;
  margin: 2vh 0 3vh 0;
}

.assigned-user-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2vh;
  background-color: #ffffff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 0.5vh;
  padding: 0.5vh;
  margin: 0.5vh;
}

.result-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vh;
  background-color: #ffffff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 0.5vh;
  padding: 0.5vh;
  margin: 0.5vh;
}

.result-value {
  display: flex;
  justify-content: center;
  align-items: center;
}

.value-green {
  color: #5ade32;
}

.value-red {
  color: #ff0000;
}

.task-result-form {
  margin-top: 2vh;
}

.form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.instruction {
  margin: 0;
  font-size: 1.5vh;
  text-align: left;
}

.date-picker {
  border: none;
  border-bottom: 1px solid #000000;
  transition: border-color 0.3s;
  padding: 1vh !important;
  background-color: #d9d9d9;
  font-size: 2vh;
  font-family: "Roboto", sans-serif;
  text-align: right;
  width: 32vh;
  top: 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.custom-calendar {
  transform: scale(0.7);
  transform-origin: bottom;
  margin: 0;
  padding: 0;
}

.date-picker:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #d9d9d9 inset;
}

.number-of-result-days-form {
  border: none;
  border-bottom: 1px solid #000000;
  transition: border-color 0.3s;
  padding-left: 1vh;
  height: 5.2vh;
  width: 8vh;
  background-color: #d9d9d9;
  font-size: 2vh;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container button {
  border: none;
  border-radius: 0.8vh;
  cursor: pointer;
  width: 8vh;
  height: 4vh;
  font-size: 2vh;
  transition: all 0.3s ease;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  background-color: #007bff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
}

.button-container button:hover {
  background-color: #4593e6;
}

.button-spinner {
  border: 0.5vh solid #f3f3f3;
  border-top: 0.5vh solid #94bfce;
  border-radius: 50%;
  width: 1.5vh;
  height: 1.5vh;
  animation: buttonSpin 1s linear infinite;
  margin: auto;
}

@keyframes buttonSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.details-text {
  background-color: #ffffff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  display: inline-block;
  border-radius: 1vh;
  padding: 0.5vh;
  word-break: break-word;
  white-space: pre-wrap;
  text-align: left;
}

dd.dd-last {
  border-bottom: none;
}
Ï .scrollable-content {
  max-height: 30vh;
  overflow-y: auto;
  width: 100%;
}

.scrollable-content::-webkit-scrollbar {
  display: none;
}

.attachedFile-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-info {
  display: flex;
  justify-content: center;
}

.display-attachedFile-container {
  margin: 0 1vh;
  width: 9vh;
  height: 9vh;
}

.downloadIcon {
  font-size: 5vh !important;
  margin: 0 auto;
  cursor: pointer;
  color: black;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
}

.downloadIcon:hover {
  color: #969696;
}

.display-attachedFile-container p {
  margin: 0 auto;
  word-break: break-all;
  font-size: 1.5vh;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.button-container {
  text-align: center;
}

dd.dd-comment {
  width: 100%;
  padding: 0;
}
