.task-container {
  position: relative;
  height: 90vh;
}

.task {
  position: relative;
  margin-top: 10vh;
}

.under-area {
  display: flex;
  justify-content: center;
  font-size: 1.7vh;
}

.robot-button-container {
  position: absolute;
  bottom: 3vh;
  right: 3vh;
}
