.project-area {
  width: 90vh;
  margin: 0 auto;
  height: 40vh;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vh;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: #202124;
  margin: 1vh 0;
  position: relative;
  font-size: 2vh;
  letter-spacing: 0.2vh;
  background: linear-gradient(45deg, #4285f4, #34a853);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  cursor: default;
}

.title::before {
  content: "";
  position: absolute;
  bottom: -0.5vh;
  left: 50%;
  width: 100%;
  height: 0.5vh;
  background-color: #4285f4;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.title:hover::before {
  width: 110%;
}

.title-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-icon {
  margin-right: 1vh;
  bottom: 0;
  font-size: 3vh !important;
  color: #4285f4;
  transition: transform 0.3s ease;
}

.title:hover .title-icon {
  transform: rotate(20deg);
}

.project-table {
  border-collapse: collapse;
  background-color: #ffffff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
  margin-bottom: 20px;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  width: 90vh;
}

.non-projects {
  width: 90vh;
  height: 25vh;
  font-size: 5vh;
  color: #cccfd0;
}

.project-table thead,
.project-table tbody {
  display: block;
}

.project-table tbody {
  max-height: 35vh;
  overflow-y: auto;
}

.project-table tr {
  border: 1px solid #878788;
}

.record-hover:hover {
  background-color: #e6e6e6;
}

.project-table th {
  background-color: #0aa9ec;
  color: white;
  font-weight: normal;
  position: relative;
}

.project-table th.col-project-name {
  width: 40%;
}

.project-table th.col-status-situation,
.project-table td.col-status-situation {
  width: 60%;
}

.project-table td.col-status-situation {
  cursor: pointer;
}

.project-table th.col-actions,
.project-table td.col-actions {
  width: 5%;
}

.project-table td.col-project-name {
  display: flex;
  justify-content: flex-start;
  width: 32vh;
  cursor: pointer;
  text-align: start;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1s ease-in-out infinite;
}

.details-hidden {
  display: none;
}

.details-open {
  display: table-row;
  background-color: #efefef;
  animation: open 0.3s ease-in-out forwards;
  transform-origin: top;
}

@keyframes open {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.separator {
  position: absolute;
  top: 20%;
  bottom: 20%;
  right: 0;
  width: 0.5px;
  background-color: #878788;
}

.off-filter {
  float: right;
  font-size: 3vh !important;
  cursor: pointer;
}

.off-filter:hover {
  color: dimgrey;
}

.on-filter {
  float: right;
  font-size: 3vh !important;
  cursor: pointer;
  color: dimgrey;
}

.on-filter:hover {
  color: white;
}

.tooltip {
  position: relative;
}

.tooltip .tooltip-text {
  visibility: hidden;
  color: black;
  width: 27vh;
  height: 3vh;
  font-size: 1.2vh;
  background-color: white;
  border: 0.5px solid black;
  text-align: center;
  border-radius: 2px;
  position: absolute;
  bottom: 130%;
  left: -12vh;
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.add {
  float: right;
  font-size: 3vh !important;
  cursor: pointer;
}

.add:hover {
  color: dimgrey;
}

.arrow-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 4vh;
}

.project-name {
  width: 28vh;
  box-sizing: border-box;
  word-wrap: break-word;
}

.status-situation-part {
  display: flex;
  justify-content: center;
  height: 4vh;
  line-height: 4vh;
}

.status-icon-part {
  display: flex;
  margin-right: 8px;
}

.status-icon {
  width: 10vh;
  margin-right: 3px;
  color: #ffffff;
  font-size: 1.5vh;
  border-radius: 1vh;
}

.not-started {
  background-color: #ff9090;
}

.processing {
  background-color: #48d2e5;
}

.completed {
  background-color: #48e57d;
}

.value {
  border: 1px solid black;
  border-radius: 1vh;
  width: 3.5vh;
  height: 3.5vh;
}

.edit,
.delete {
  cursor: pointer;
  float: right;
  font-size: 3vh !important;
}

.edit:hover,
.delete:hover {
  color: #357ae8;
}

.scrollable-content {
  max-height: 30vh;
  overflow-y: auto;
}

.scrollable-content dl {
  margin: 0;
}

.scrollable-content dt {
  text-align: left;
  margin: 1vh auto 0 4vh;
  font-weight: 600;
}

.scrollable-content dd {
  margin: 0 auto;
  padding: 1.5vh 0;
  border-bottom: 1.5px dotted black;
  width: 80%;
}

.scrollable-content dd.dd-last {
  border-bottom: none;
}

.member-area {
  display: flex;
  justify-content: center;
  gap: 2vh;
  overflow-x: auto;
}

.member {
  padding: 0.5vh;
  background-color: #ffffff;
  border-radius: 0.5vh;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  white-space: nowrap;
}

.non-task-genre {
  text-align: center;
}

.task-genre-area {
  display: flex;
  gap: 2vh;
  overflow-x: auto;
}

.task-genre-block {
  background-color: #ffffff;
  border-radius: 1vh;
  width: 25vh;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin: 1vh;
}

.task-genre-name {
  font-size: 1.5vh;
  font-weight: bold;
  color: #000000;
  margin: 0.5vh;
  word-break: break-word;
  white-space: pre-wrap;
}

.task-genre-table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-genre-area table {
  border-collapse: collapse;
  margin: 0.5vh;
}

.task-genre-area td {
  padding: 0.5vh;
  font-size: 1.5vh;
  color: #555;
  border-bottom: 1px solid #eee;
}

.task-genre-area td:first-child {
  text-align: left !important;
  font-weight: bold;
  color: #333;
}

.task-genre-area tr:last-child td {
  border-bottom: none;
}

.task-genre-area table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.task-genre-area table tr:nth-child(odd) {
  background-color: #fff;
}

.task-genre-area table tbody tr:hover {
  background-color: #e3f2fd;
}

.task-genre-area td:last-child {
  text-align: right;
}

.details-text {
  background-color: #ffffff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  display: inline-block;
  border-radius: 1vh;
  padding: 0.5vh;
  word-break: break-word;
  white-space: pre-wrap;
  text-align: left;
}

.attached-file-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-info {
  display: flex;
  justify-content: center;
}

.display-attached-file-container {
  margin: 0 1vh;
  width: 9vh;
  height: 9vh;
}

.download-icon {
  font-size: 5vh !important;
  margin: 0 auto;
  cursor: pointer;
  color: black;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
}

.download-icon:hover {
  color: #969696;
}

.display-attached-file-container p {
  margin: 0 auto;
  word-break: break-all;
  font-size: 1.5vh;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}
