.text-area {
  background-color: rgba(10, 169, 236, 0.7);
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75vh;
  height: 75vh;
  border-radius: 3vh;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 10);
}

.success,
.failure {
  font-weight: 200;
  font-size: 6.5vh;
  text-align: center;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  margin: 10vh auto 4vh;
}

.success {
  color: #00e425;
}

.failure {
  color: #ff0000;
  margin: 10vh auto 10vh !important;
}

.text-area ul {
  list-style-type: none;
  padding: 0;
  width: 70%;
  margin: 0 auto;
}

.text-area ul p {
  font-size: 2vh;
  color: #fff;
  margin-bottom: 0;
}

.text-area li {
  border-bottom: 1px solid #fff;
  margin-bottom: 5.5vh;
  font-size: 3.5vh;
  padding-left: 2vh;
}

.failure-text {
  width: 80%;
  margin: 0 auto 5vh;
  color: white;
  font-size: 3vh;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
