.not-yet-completed-tasks-area {
  margin: 0 auto;
}

.non-tasks {
  width: 75vh;
  height: 25vh;
  font-size: 5vh;
  color: #cccfd0;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45vh;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: #202124;
  margin: 3.5vh 0 1.5vh 0;
  position: relative;
  font-size: 2vh;
  letter-spacing: 0.2vh;
  background: linear-gradient(45deg, #4285f4, #34a853);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  cursor: default;
}

.title::before {
  content: "";
  position: absolute;
  bottom: -0.5vh;
  left: 50%;
  width: 100%;
  height: 0.5vh;
  background-color: #4285f4;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.title:hover::before {
  width: 110%;
}

.title-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-icon {
  margin-right: 1vh;
  bottom: 0;
  font-size: 3vh !important;
  color: #4285f4;
  transition: transform 0.3s ease;
}

.title:hover .title-icon {
  transform: rotate(20deg);
}

.not-yet-completed-tasks-area table {
  width: 75vh;
  border-collapse: collapse;
  background-color: #ffffff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
  margin: 0 auto 2vh;
  text-align: center;
  align-items: center;
  vertical-align: middle;
}

.not-yet-completed-tasks-area thead,
.not-yet-completed-tasks-area tbody {
  display: block;
}

.not-yet-completed-tasks-area tbody {
  max-height: 35vh;
  overflow-y: auto;
}

.not-yet-completed-tasks-area tbody::-webkit-scrollbar {
  display: none;
}

.not-yet-completed-tasks-area tr {
  border: 1px solid #878788;
}

.not-yet-completed-tasks-area th.col-task-name {
  width: 34.5vh;
  padding: 0.5 1.5vh 0.5vh;
  box-sizing: border-box;
}

.not-yet-completed-tasks-area td.col-task-name {
  width: 34vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
  padding: 0.5vh 0.5vh 0.5vh 0;
  box-sizing: border-box;
  word-wrap: break-word;
  height: 100%;
}

.not-yet-completed-tasks-area th.col-project-name,
.not-yet-completed-tasks-area td.col-project-name {
  width: 18vh;
  padding: 0.5vh;
  box-sizing: border-box;
}

.not-yet-completed-tasks-area th.col-status,
.not-yet-completed-tasks-area td.col-status {
  width: 10vh;
  padding: 0;
}

.not-yet-completed-tasks-area th.col-deadline,
.not-yet-completed-tasks-area td.col-deadline {
  width: 16vh;
  padding: 0.5vh;
  box-sizing: border-box;
}

.not-yet-completed-tasks-area th.col-assigned-person,
.not-yet-completed-tasks-area td.col-assigned-person {
  width: 15vh;
  padding: 0.5vh;
  box-sizing: border-box;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1s ease-in-out infinite;
}

.details-hidden {
  display: none;
}

.details-open {
  display: table-row;
  background-color: #efefef;
  animation: open 0.3s ease-in-out forwards;
  transform-origin: top;
}

@keyframes open {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.not-yet-completed-tasks-area th {
  background-color: #0aa9ec;
  color: white;
  font-weight: normal;
  position: relative;
}

.separator {
  position: absolute;
  top: 20%;
  bottom: 20%;
  right: 0;
  width: 1px;
  background-color: #878788;
}

.arrow-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 4vh;
}

.task-name {
  max-width: 27vh;
  box-sizing: border-box;
  word-wrap: break-word;
}

.scrollable-content {
  max-height: 30vh;
  overflow-y: auto;
  width: 100%;
}

.scrollable-content::-webkit-scrollbar {
  display: none;
}

.scrollable-content dl {
  margin: 0;
}

.scrollable-content dt {
  text-align: left;
  margin: 1vh auto 0 4vh;
  font-weight: 600;
}

.scrollable-content dd {
  margin: 0 auto;
  padding: 1.5vh 0;
  border-bottom: 1.5px dotted black;
  width: 80%;
}

.flex-area {
  display: flex;
  justify-content: center;
}

.flex {
  flex: 1;
}

.flex dd {
  padding: 1.5vh 0;
  border-bottom: 1.5px dotted black;
}

.left-part dd {
  margin-left: 7.5vh;
  width: 29vh;
}

.right-part dd {
  width: 27vh;
}

.project-name {
  max-width: 29vh;
  box-sizing: border-box;
  word-wrap: break-word;
  text-align: center !important;
}

.white-text {
  background-color: #ffffff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  display: inline-block;
  border-radius: 0.5vh;
  padding: 0.5vh;
}

.task-genre-block {
  background-color: #ffffff;
  border-radius: 1vh;
  width: 25vh;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin: 1vh;
}

.task-genre-name {
  font-size: 1.5vh;
  font-weight: bold;
  color: #000000;
  word-break: break-word;
  white-space: pre-wrap;
}

.task-genre-table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-genre-area table {
  border-collapse: collapse;
  margin: 1vh;
  box-shadow: none;
}

.task-genre-area td {
  padding: 0.5vh;
  font-size: 1.5vh;
  color: #555;
  border-bottom: 1px solid #eee;
}

.task-genre-area td:first-child {
  text-align: left !important;
  font-weight: bold;
  color: #333;
}

.task-genre-area tr:last-child td {
  border-bottom: none;
}

.task-genre-area table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.task-genre-area table tr:nth-child(odd) {
  background-color: #fff;
}

.task-genre-area table tbody tr:hover {
  background-color: #e3f2fd;
}

.task-genre-area td:last-child {
  text-align: right;
}

.user-result-value-area {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 1vh 0 3vh 0;
  font-size: 1.5vh;
}

.assigned-user-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.4vh;
  background-color: #ffffff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 0.5vh;
  padding: 0.5vh;
  margin: 0.5vh;
}

.result-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vh;
  background-color: #ffffff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 0.5vh;
  padding: 0.5vh;
  margin: 0.5vh;
}

.result-value {
  display: flex;
  justify-content: center;
  align-items: center;
}

.value-green {
  color: #5ade32;
}

.value-red {
  color: #ff0000;
}

.task-result-form {
  margin-top: 2vh;
  font-size: 1.5vh;
}

.date-picker {
  border: none;
  border-bottom: 1px solid #000000;
  transition: border-color 0.3s;
  padding: 0.8vh !important;
  background-color: #d9d9d9;
  font-size: 1.5vh;
  font-family: "Roboto", sans-serif;
  text-align: center;
  width: 28.5vh;
  top: 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.custom-calendar {
  transform: scale(0.7);
  transform-origin: bottom;
  margin: 0;
  padding: 0;
}

.date-picker:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #d9d9d9 inset;
}

.number-of-result-days-form {
  border: none;
  border-bottom: 1px solid #000000;
  transition: border-color 0.3s;
  padding-left: 1vh;
  height: 4vh;
  width: 7vh;
  background-color: #d9d9d9;
  font-size: 1.5vh;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5vh;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container button {
  border: none;
  border-radius: 0.8vh;
  cursor: pointer;
  width: 7vh;
  height: 4vh;
  font-size: 1.5vh;
  transition: all 0.3s ease;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  background-color: #007bff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container button:hover {
  background-color: #4593e6;
}

.button-spinner {
  border: 0.5vh solid #f3f3f3;
  border-top: 0.5vh solid #94bfce;
  border-radius: 50%;
  width: 1.5vh;
  height: 1.5vh;
  animation: buttonSpin 1s linear infinite;
  margin: auto;
}

@keyframes buttonSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.details-text {
  background-color: #ffffff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  display: inline-block;
  border-radius: 1vh;
  padding: 0.5vh;
  word-break: break-word;
  white-space: pre-wrap;
  text-align: left;
}

.attachedFile-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-info {
  display: flex;
  justify-content: center;
}

.display-attachedFile-container {
  margin: 0 1vh;
  width: 9vh;
  height: 9vh;
}

.downloadIcon {
  font-size: 5vh !important;
  margin: 0 auto;
  cursor: pointer;
  color: black;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
}

.downloadIcon:hover {
  color: #969696;
}

.display-attachedFile-container p {
  margin: 0 auto;
  word-break: break-all;
  font-size: 1.5vh;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.not-yet-completed-tasks-area .status-icon {
  margin: 0 auto;
  width: 8vh;
  font-size: 1.3vh;
  border-radius: 6px;
  height: 3.5vh;
  line-height: 3.5vh;
}
