.inner-area {
  background-color: rgba(10, 169, 236, 0.7);
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75vh;
  height: 75vh;
  border-radius: 3vh;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 10);
}

.progress-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 15%;
  left: 0;
  transform: translateY(-50%);
}

.progress-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  position: relative;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 5vw;
  height: 10vh;
}

.circle {
  width: 4.5vh;
  height: 4.5vh;
  margin-top: 1vh;
  border-radius: 50%;
  background-color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.step span {
  font-size: 1.2vh;
  text-align: center;
  color: #555555;
}

.step span.active {
  color: #000000;
}
.active .circle {
  background-color: #2d7df6;
  width: 6vh;
  height: 6vh;
  margin-top: 0;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}

.line {
  position: absolute;
  top: 35%;
  left: 10%;
  width: 80%;
  height: 0.3vh;
  background-color: #ccc;
  transform: translateY(-50%);
  z-index: 1;
}

.mail-image-area {
  height: 30vh;
  margin-top: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mail {
  font-size: 30vh !important;
}

.text-area {
  width: 100%;
}

.text-area p {
  width: 70%;
  margin: 0 auto;
  color: white;
  font-size: 2.5vh;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.to-workspace-setup-button {
  font-size: 3vh !important;
  font-weight: 600;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  margin-top: 2vh;
  text-align: center;
}

.to-workspace-setup-button:hover {
  color: rgb(187, 187, 187) !important;
}
